@import url('https://fonts.googleapis.com/css2?family=Puritan:wght@400;700&display=swap');

:root {
  --bs-body-font-family: 'Puritan', sans-serif
}

#carouselExampleCaptions{
    width: 800px;
}

#fakerPic {
  width: 164px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}